@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: FilsonProRegular;
  src: url(./fonts/filsonpro/FilsonProRegular.otf);
}

@font-face {
  font-family: FilsonProMedium;
  src: url(./fonts/filsonpro/FilsonProMedium.otf);
}

@font-face {
  font-family: FilsonProBold;
  src: url(./fonts/filsonpro/FilsonProBold.otf);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  --color-text: #4a4a4a;
  --color-text-light: #fffbf8;
  --color-icon: linear-gradient(180deg, #fffbf8 0%, #ede4de 100%);
  --background: #fffbf8;
  --background-dark: #4a4a4a;
  --background-gradient: linear-gradient(
    180deg,
    #faf7f3 0%,
    #efeae4 50%,
    #d1c9c1 100%
  );

  --color-light: #fffbf8;
  --color-dark: #4a4a4a;
  --color-gray: linear-gradient(180deg, #eceae8 0%, #dedbd9 100%);

  --color-slate-gray: #6b858d;
  --color-pistachio: #8a9482;
  --color-vanilla-latte: #a59584;

  --color-red: #998787;
  --color-purple: #8f8799;
  --color-green: #6b8d8b;

  --color-border-light: #ffffff33;
  --color-border-dark: #4a4a4a33;

  --color-background-box: #f4ece2;

  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 200px 200px;
}

body {
  overflow-x: hidden;
  color: var(--color-text);
  overflow-y: hidden;
}

headline,
subheadline {
  display: flex;
  margin: 1rem;
}

headline {
  font-family: FilsonProMedium;
  font-size: 42px;
}

subheadline {
  font-family: FilsonProRegular;
  font-size: 21px;
}

h1 {
  font-family: FilsonProRegular;
  font-size: 28px;
}

h2 {
  font-family: FilsonProBold;
  font-size: 16px;
}

h3 {
  font-family: FilsonProBold;
  font-size: 14px;
}

p,
input,
textarea {
  font-family: FilsonProRegular;
  font-size: 14px;
}

input,
textarea {
  border: 4px solid var(--color-border-light);
}

.button-text,
.button,
button[type="submit"],
input[type="file"]::file-selector-button {
  position: relative;
  font-family: FilsonProMedium;
  font-size: 12px;
  color: var(--color-text-light);
  text-wrap: nowrap;
}

.button,
button[type="submit"],
input[type="file"]::file-selector-button {
  height: 44px;
  padding: 0 20px;
  border-radius: 12px;
  background-color: var(--background-dark);
}

.button:hover,
button[type="submit"]:hover,
input[type="file"]::file-selector-button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

input[type="file"]::file-selector-button {
  border: 4px solid var(--color-border-light);
}

input:focus,
textarea:focus {
  border: 4px solid var(--color-slate-gray);
  outline: none;
}

input[type="file"]:focus {
  border: none;
}

.button:focus,
input[type="file"]:focus::file-selector-button {
  outline: none;
  filter: brightness(1.2);
}

.button-arrow {
  height: 28px;
  width: 28px;
}

@media (min-width: 500px) {
  headline {
    font-size: 69px;
  }

  subheadline {
    font-size: 32px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p,
  input,
  textarea {
    font-size: 16px;
  }

  .button-text,
  .button,
  button[type="submit"],
  input[type="file"]::file-selector-button {
    font-size: 16px;
  }

  .button,
  button[type="submit"],
  input[type="file"]::file-selector-button {
    padding: 0 32px;
    height: 56px;
    border-radius: 16px;
  }

  .button-arrow {
    height: 36px;
    width: 36px;
  }

  .kf-border-light,
  .kf-border-dark,
  .button::after,
  button[type="submit"]::after,
  .kf-border-light::after,
  .kf-border-dark::after,
  .kf-border-dark-hard {
    border-radius: 16px !important;
  }
}

.background-blur {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.noStyle {
  border: none;
  background-color: transparent;
  padding: 0;
}

.noStyle::after {
  content: none;
}

.cursor-default {
  cursor: default !important;
}

.kf-border-light,
.kf-border-dark {
  /* border: 4px solid var(--color-border-light); */
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.button::after,
button[type="submit"]::after,
.kf-border-light::after,
.kf-border-dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid var(--color-border-light);
  border-radius: 12px;
  pointer-events: none;
}

.kf-border-dark::after {
  border: 4px solid var(--color-border-dark);
}

.kf-border-dark-hard {
  border: 4px solid var(--color-border-dark);
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.background-3 {
  background: linear-gradient(90deg, #eceae8 0%, #dedbd9 100%);
}

.backgroundBox {
  position: absolute;
  border-radius: 32px;
  box-shadow: var(--box-shadow);
  border: 4px solid var(--color-border-light);
  transform-style: preserve-3d;
  background-color: var(--color-background-box);

  height: 50%;
  width: 50%;
  rotate: 45deg;
}

.light {
  color: var(--color-light);
}

.light-background {
  background-color: var(--color-light);
}

.light-fill {
  fill: var(--color-light);
}

.light-stroke {
  stroke: var(--color-light);
}

.dark {
  color: var(--color-dark);
}

.dark-background {
  background-color: var(--color-dark);
}

.dark-fill {
  fill: var(--color-dark);
}

.dark-stroke {
  stroke: var(--color-dark);
}

.gray-background {
  background: linear-gradient(#eceae8, #dedbd9);
}

.slate-gray {
  color: var(--color-slate-gray);
}

.slate-gray-background {
  background-color: var(--color-slate-gray);
}

.slate-gray-fill {
  fill: var(--color-slate-gray);
}

.slate-gray-stroke {
  stroke: var(--color-slate-gray);
}

.pistachio {
  color: var(--color-pistachio);
}

.pistachio-background {
  background-color: var(--color-pistachio);
}

.pistachio-fill {
  fill: var(--color-pistachio);
}

.pistachio-stroke {
  stroke: var(--color-pistachio);
}

.vanilla-latte {
  color: var(--color-vanilla-latte);
}

.vanilla-latte-background {
  background-color: var(--color-vanilla-latte);
}

.vanilla-latte-fill {
  fill: var(--color-vanilla-latte);
}

.vanilla-latte-stroke {
  stroke: var(--color-vanilla-latte);
}

.red {
  color: var(--color-red);
}

.red-background {
  background-color: var(--color-red);
}

.red-fill {
  fill: var(--color-red);
}

.red-stroke {
  stroke: var(--color-red);
}

.purple {
  color: var(--color-purple);
}

.purple-background {
  background-color: var(--color-purple);
}

.purple-fill {
  fill: var(--color-purple);
}

.purple-stroke {
  stroke: var(--color-purple);
}

.green {
  color: var(--color-green);
}

.green-background {
  background-color: var(--color-green);
}

.green-fill {
  fill: var(--color-green);
}

.green-stroke {
  stroke: var(--color-green);
}

.contact-icon {
  height: 28px;
  width: 28px;
}

@media (min-width: 400px) {
  .contact-icon {
    height: 32px;
    width: 32px;
  }
}

#backgroundOne {
  height: 60%;
  width: 60%;
  z-index: -2;
  transform: translateZ(-10px) scale(2);
  margin-left: -90%;
  margin-top: -20%;
}

#backgroundTwo {
  margin-left: -80%;
  margin-top: -10%;
  z-index: -2;
  transform: translateZ(-7px) scale(1.7);
}

#backgroundThree {
  margin-top: 80%;
  margin-left: 32%;
  z-index: -2;
  transform: translateZ(-10px) scale(2);
}

#backgroundFour {
  rotate: -135deg;
  margin-top: -20%;
  margin-left: 80%;
  z-index: -1;
  transform: translateZ(-5px) scale(1.5);
}

#backgroundFive {
  rotate: -135deg;
  margin-top: 20%;
  margin-left: 89%;
  z-index: -2;
  transform: translateZ(-7px) scale(1.7);
}

#backgroundSix {
  rotate: -135deg;
  margin-top: 40%;
  margin-left: 80%;
  z-index: -3;
  transform: translateZ(-7px) scale(1.7);
}

#backgroundSeven {
  rotate: -135deg;
  margin-top: 200%;
  margin-left: 30%;
  z-index: -3;
  transform: translateZ(-7px) scale(1.7);
}

#backgroundEight {
  rotate: -135deg;
  margin-top: 130%;
  margin-left: 50%;
  z-index: -3;
  transform: translateZ(-7px) scale(1.7);
}

#backgroundNine {
  rotate: -135deg;
  margin-top: 120%;
  margin-left: 80%;
  z-index: -3;
  transform: translateZ(-7px) scale(1.7);
}

#main {
  background-color: #e9e3dd;
}

#boxCollection {
  height: 100vh;
  overflow-x: hidden;
  width: 100%;
  perspective: 12px;
}

@media screen and (min-width: 768px) {
  .imageInSquareOne,
  .imageInSquareTwo,
  .imageInSquareThree {
    width: 750px;
    height: 750px;
    rotate: -45deg;

    margin-top: -200px;
    margin-left: -40px;
  }

  #squareOne {
    margin-right: 0px;
    margin-top: 5%;
    z-index: 1;
    overflow: hidden;
  }

  #squareTwo {
    margin-left: 350px;
    margin-top: -50px;
  }

  #squareThree {
    margin-left: 350px;
    margin-top: 200px;
    z-index: -1;
  }

  #squareOne,
  #squareTwo,
  #squareThree {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    rotate: 45deg;
    overflow: hidden;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .imageInSquareOne {
    background-image: url(./imagesMidlertidig/officeImageOne.jpeg);
    z-index: 1;
  }

  .imageInSquareTwo {
    background-image: url(./imagesMidlertidig/officeImageTwo.jpeg);
    z-index: -2;
  }

  .imageInSquareThree {
    background-image: url(./imagesMidlertidig/officeImageThree.jpeg);
    z-index: -3;
  }
}

.sharedBoxClass {
  background: linear-gradient(#e6dbd1, #e7dacb, #faf7f3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 200px 100px;
  border: 8px solid #f1f1f1a8;
}

#kretsBoxOne {
  position: absolute;
  rotate: 45deg;
  width: 200px;
  height: 200px;
  margin-top: -140px;
  margin-left: -20px;
}

#kretsBoxTwo {
  position: absolute;
  rotate: 135deg;
  margin-left: 200px;
  width: 220px;
  height: 224px;
  margin-top: -140px;

  z-index: 1;
}

#kretsBoxThree {
  position: absolute;
  rotate: 135deg;
  margin-left: 100px;
  margin-top: -250px;
  width: 200px;
  height: 200px;
}

#kretsBoxFour {
  rotate: 135deg;
  margin-left: 100px;
  margin-top: -30px;
  width: 200px;
  height: 200px;

  z-index: -1;
}

.waves-container svg {
  position: absolute;
  pointer-events: none;
  /* ensure SVG doesn't capture mouse events */
}

.backgroundColor {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #6b858d;
  height: 1800px;
  width: 100%;
  margin-top: 500px;
  z-index: -1;
}

.bannerImage {
  height: 90px;
  width: 350px;
  position: absolute;
  margin-top: -70px;
  margin-left: 30px;
  z-index: 2;
}

#partnerBox {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 1280px) {
  .sharedBoxClass {
    width: 125px;
    height: 125px;
  }

  #partnerBox {
    width: 120px;
    height: 120px;
  }

  .backgroundColor {
    height: 2000px;
  }
  #backgroundOne {
    margin-left: -100%;
  }
  #backgroundTwo {
    margin-left: -90%;
  }
  #backgroundThree {
    margin-left: 140%;
  }
  #backgroundFour {
    margin-left: 130%;
  }

  #backgroundFive {
    margin-left: 120%;
  }

  #backgroundSix {
    margin-left: 110%;
  }
}

@media screen and (max-width: 800px) {
  #kretsBoxOne,
  #kretsBoxTwo,
  #kretsBoxThree,
  #kretsBoxFour {
    width: 120px;
    height: 120px;
  }

  #kretsBoxOne {
    margin-top: -80px;
    margin-left: 40px;
    z-index: 1;
  }

  #kretsBoxTwo {
    margin-top: -80px;
    margin-left: 160px;
    z-index: 3;
  }

  #kretsBoxThree {
    margin-top: -140px;
    z-index: 2;
  }

  #kretsBoxFour {
    margin-top: -50px;
    height: 100px;
    z-index: 1;
  }

  .bannerImage {
    margin-top: -50px;

    z-index: 4;
    margin-left: 55px;
    height: 60px;
    width: 205px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
  .bannerImage {
    height: 80px;
    width: 300px;
    margin-left: 50px;
    margin-top: -70px;
  }

  #kretsBoxContainer {
    margin-top: 350px;
    padding-right: 100px;
  }
  .backgroundColor {
    height: 3000px;
  }
}

@media screen and (max-width: 768px) {
  .imageInSquareOne,
  .imageInSquareTwo,
  .imageInSquareThree {
    width: 350px;
    height: 350px;
    rotate: -45deg;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: -110px;
    margin-left: -50px;
  }
  .imageInSquareOne {
    background-image: url(./imagesMidlertidig/office300pxOne.jpeg);
  }

  .imageInSquareTwo {
    background-image: url(./imagesMidlertidig/office300pxTwo.jpeg);
  }
  .imageInSquareThree {
    background-image: url(./imagesMidlertidig/office300pxThree.jpeg);
  }

  #squareOne {
    margin-right: 40%;
    margin-top: 5%;
    z-index: 1;
    overflow: hidden;
  }

  #squareThree {
    margin-left: 37%;
    margin-top: 5%;
    z-index: -1;
  }

  #squareOne,
  #squareTwo,
  #squareThree {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid black;
    rotate: 45deg;
    overflow: hidden;
    position: absolute;
  }

  .backgroundBox {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 100px;
    border-radius: 16px;
    width: 70%;
    height: 70%;
  }

  #backgroundSix,
  #backgroundSeven,
  #backgroundEight,
  #backgroundNine {
    display: none;
  }
}