@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: FilsonProRegular;
  src: url(./fonts/filsonpro/FilsonProRegular.otf);
}

@font-face {
  font-family: FilsonProMedium;
  src: url(./fonts/filsonpro/FilsonProMedium.otf);
}

@font-face {
  font-family: FilsonProBold;
  src: url(./fonts/filsonpro/FilsonProBold.otf);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  --color-text: #4a4a4a;
  --color-text-light: #fffbf8;
  --color-eggshell: linear-gradient(180deg, #FAF7F3 0%, #D1C9C1 100%);
  --background: #fffbf8;
  --background-dark: #4a4a4a;
  --background-gradient: linear-gradient(180deg,
      #faf7f3 0%,
      #efeae4 50%,
      #d1c9c1 100%);

  --color-light: #fffbf8;
  --color-dark: #4a4a4a;
  --color-gray: linear-gradient(180deg, #eceae8 0%, #dedbd9 100%);

  --color-slate-gray: #6b858d;
  --color-pistasch: #8a9482;
  --color-vanilla-latte: #a59584;

  --color-red: #998787;
  --color-purple: #8f8799;
  --color-green: #6b8d8b;

  --color-border-light: #ffffff33;
  --color-border-dark: #4a4a4a33;

  --color-background-box: #f4ece2;

  --box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 100px 50px;
  --box-shadow-small: rgba(0, 0, 0, 0.15) 0px 7px 50px 20px;
}

body {
  color: var(--color-text);
}

.headline,
.subheadline {
  display: flex;
}

.headline {
  font-family: FilsonProMedium;
  font-size: 38px;
}

.subheadline {
  font-family: FilsonProRegular;
  font-size: 20px;
}

h1 {
  font-family: FilsonProRegular;
  font-size: 28px;
}

h2 {
  font-family: FilsonProBold;
  font-size: 16px;
}

h3 {
  font-family: FilsonProBold;
  font-size: 14px;
}

p,
input,
textarea {
  font-family: FilsonProRegular;
  font-size: 14px;
  line-height: 2;
}

input,
textarea {
  border: 4px solid var(--color-border-light);
}

.button-text,
.button,
button[type="submit"],
input[type="file"]::file-selector-button {
  position: relative;
  font-family: FilsonProMedium;
  font-size: 12px;
  color: var(--color-text-light);
  text-wrap: nowrap;
}

input[type="file"] {
  border: none;
}

.button,
button[type="submit"],
input[type="file"]::file-selector-button {
  height: 44px;
  padding: 0 20px;
  border-radius: 12px;
  background-color: var(--background-dark);
}

.button:hover,
button[type="submit"]:hover,
input[type="file"]::file-selector-button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

input[type="file"]::file-selector-button {
  border: 4px solid var(--color-border-light);
}

input:focus,
textarea:focus {
  border: 4px solid var(--color-slate-gray);
  outline: none;
}

input[type="file"]:focus {
  border: none;
}

.button:focus,
input[type="file"]:focus::file-selector-button {
  outline: none;
  filter: brightness(1.2);
}

.button-arrow {
  height: 28px;
  width: 28px;
}

.navbar {
  background: linear-gradient(180deg, rgba(250, 247, 243, 0.6) 0%, rgba(209, 201, 193, 0.6) 100%);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

@media (min-width: 500px) {
  .headline {
    font-size: 56px;
  }

  .subheadline {
    font-size: 24px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p,
  input,
  textarea {
    font-size: 16px;
  }

  .button-text,
  .button,
  button[type="submit"],
  input[type="file"]::file-selector-button {
    font-size: 16px;
  }

  .button,
  button[type="submit"],
  input[type="file"]::file-selector-button {
    padding: 0 32px;
    height: 56px;
    border-radius: 16px;
  }

  .button-arrow {
    height: 36px;
    width: 36px;
  }

  .kf-border-light,
  .kf-border-dark,
  .button::after,
  button[type="submit"]::after,
  .kf-border-light::after,
  .kf-border-dark::after,
  .kf-border-dark-hard {
    border-radius: 16px !important;
  }

  .kf-border-light-big,
  .kf-border-dark-big {
    border-radius: 24px !important;
  }

  .kf-border-light-big::after,
  .kf-border-dark-big::after {
    border-radius: 24px !important;
  }

}

.background-blur {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.noStyle {
  border: none;
  background-color: transparent;
  padding: 0;
}

.noStyle::after {
  content: none;
}

.cursor-default {
  cursor: default !important;
}

.kf-border-light,
.kf-border-dark {
  /* border: 4px solid var(--color-border-light); */
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.kf-border-light-big,
.kf-border-dark-big {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.button::after,
button[type="submit"]::after,
.kf-border-light::after,
.kf-border-dark::after,
.kf-border-light-big::after,
.kf-border-dark-big::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid var(--color-border-light);
  border-radius: 12px;
  pointer-events: none;
}

.kf-border-light-big::after,
.kf-border-dark-big::after {
  border-radius: 16px;
}

.kf-border-dark::after,
.kf-border-dark-big::after {
  border: 4px solid var(--color-border-dark);
}

.kf-border-dark-hard {
  border: 4px solid var(--color-border-dark);
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.background-3 {
  background: linear-gradient(90deg, #eceae8 0%, #dedbd9 100%);
}


#boxCollection {
  perspective: 10px;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background: var(--color-eggshell)
}

.backgroundBox {
  z-index: -1;
  position: absolute;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  transform-style: preserve-3d;
  background: var(--color-eggshell);
  height: 100vw;
  width: 100vw;
  rotate: 45deg;
  /* transition: 10ms; */
}

.backgroundBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  border: 3px solid var(--color-border-light);
}

#background-1 {
  transform: translateZ(-10px) scale(2);
  margin-left: -170%;
  margin-top: -30%;
}

#background-2 {
  margin-left: -160%;
  margin-top: -20%;
  transform: translateZ(-7px) scale(1.7);
}

#background-3 {
  rotate: -135deg;
  margin-top: -10%;
  margin-left: 140%;
  transform: translateZ(-10px) scale(2);
}

#background-4 {
  rotate: -135deg;
  margin-top: 0;
  margin-left: 130%;
  transform: translateZ(-5px) scale(1.5);
}

#background-5 {
  rotate: -135deg;
  margin-top: -110%;
  margin-left: 90%;
  width: 80vw;
  transform: translateZ(-7px) scale(1.7);
}

#background-6 {
  rotate: 45deg;
  margin-top: 140%;
  margin-left: -20%;
  transform: translateZ(-7px) scale(1.7);
}


.half-slate-gray-background {
  position: relative;
}

.half-slate-gray-background::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-slate-gray);
}

.half-way-transition-wave {
  position: absolute;
  top: 60%;
  transform: translate(0%, -100%);
}

@media screen and (max-width: 1023px) {
  .half-slate-gray-background::before {
    top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .lg\:dark {
    color: var(--color-dark) !important;
  }
}

.light {
  color: var(--color-light);
}

.light-background {
  background-color: var(--color-light);
}

.light-fill {
  fill: var(--color-light);
}

.light-stroke {
  stroke: var(--color-light);
}

.dark {
  color: var(--color-dark);
}

.dark-background {
  background-color: var(--color-dark);
}

.dark-fill {
  fill: var(--color-dark);
}

.dark-stroke {
  stroke: var(--color-dark);
}

.gray-background {
  background: linear-gradient(#eceae8, #dedbd9);
}

.slate-gray {
  color: var(--color-slate-gray);
}

.slate-gray-background {
  background-color: var(--color-slate-gray);
}

.slate-gray-fill {
  fill: var(--color-slate-gray);
}

.slate-gray-stroke {
  stroke: var(--color-slate-gray);
}

.pistasch {
  color: var(--color-pistasch);
}

.pistasch-background {
  background-color: var(--color-pistasch);
}

.pistasch-fill {
  fill: var(--color-pistasch);
}

.pistasch-stroke {
  stroke: var(--color-pistasch);
}

.vanilla-latte {
  color: var(--color-vanilla-latte);
}

.vanilla-latte-background {
  background-color: var(--color-vanilla-latte);
}

.vanilla-latte-fill {
  fill: var(--color-vanilla-latte);
}

.vanilla-latte-stroke {
  stroke: var(--color-vanilla-latte);
}

.red {
  color: var(--color-red);
}

.red-background {
  background-color: var(--color-red);
}

.red-fill {
  fill: var(--color-red);
}

.red-stroke {
  stroke: var(--color-red);
}

.purple {
  color: var(--color-purple);
}

.purple-background {
  background-color: var(--color-purple);
}

.purple-fill {
  fill: var(--color-purple);
}

.purple-stroke {
  stroke: var(--color-purple);
}

.green {
  color: var(--color-green);
}

.green-background {
  background-color: var(--color-green);
}

.green-fill {
  fill: var(--color-green);
}

.green-stroke {
  stroke: var(--color-green);
}

.eggshell {
  color: var(--color-eggshell);
}

.eggshell-background {
  background: var(--color-eggshell);
}

.eggshell-fill {
  fill: var(--color-eggshell) !important;
}

.eggshell-stroke {
  stroke: var(--color-eggshell);
}


.contact-icon {
  height: 28px;
  width: 28px;
}

@media (min-width: 400px) {
  .contact-icon {
    height: 32px;
    width: 32px;
  }
}

@media screen and (min-width: 768px) {


  #squareOne {
    margin-right: 0px;
    margin-top: 5%;
    z-index: 1;
    overflow: hidden;
  }

  #squareTwo {
    margin-left: 350px;
    margin-top: -50px;
  }

  #squareThree {
    margin-left: 350px;
    margin-top: 200px;
    z-index: -1;
  }

  #squareOne,
  #squareTwo,
  #squareThree {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    rotate: 45deg;
    overflow: hidden;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.sharedBoxClass {
  position: absolute;
  background: var(--color-eggshell);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 50px 20px;
  width: 100%;
  height: 100%;
}

#kretsBox1 {
  transform: translate(-50%, -60%) rotate(-45deg);
}

#kretsBox2 {
  transform: translate(-50%, -45%) rotate(-45deg);
}

#kretsBox3 {
  transform: translate(-55%, -50%) rotate(-45deg);
}

#kretsBox4 {
  transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
}

.waves-container svg {
  position: absolute;
  pointer-events: none;
}

.bannerImage {
  width: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
}

#partnerBox {
  width: 150px;
  height: 150px;
}

/* @media screen and (max-width: 1280px) {
  #partnerBox {
    width: 120px;
    height: 120px;
  }

  #background-1 {
    margin-left: -100%;
  }

  #background-2 {
    margin-left: -90%;
    margin-top: -5%;
  }

  #background-3 {
    margin-left: 10%;
    margin-top: 130%;
  }

  #background-4 {
    margin-left: 130%;
  }

  #background-5 {
    margin-left: 120%;
  }

  #background-6 {
    margin-left: 110%;
  }
} */

@media screen and (max-width: 800px) {

  #kretsBoxOne,
  #kretsBoxTwo,
  #kretsBoxThree,
  #kretsBoxFour {
    width: 120px;
    height: 120px;
  }

  #kretsBoxOne {
    margin-top: -80px;
    margin-left: 40px;
    z-index: 1;
  }

  #kretsBoxTwo {
    margin-top: -80px;
    margin-left: 160px;
    z-index: 3;
  }

  #kretsBoxThree {
    margin-top: -140px;
    z-index: 2;
  }

  #kretsBoxFour {
    margin-top: -50px;
    height: 100px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  #squareOne {
    margin-right: 40%;
    margin-top: 5%;
    z-index: 1;
    overflow: hidden;
  }

  #squareThree {
    margin-left: 37%;
    margin-top: 5%;
    z-index: -1;
  }

  #squareOne,
  #squareTwo,
  #squareThree {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid black;
    rotate: 45deg;
    overflow: hidden;
    position: absolute;
  }

  .backgroundBox {
    box-shadow: var(--box-shadow-small);
    border-radius: 12px;
  }

  .backgroundBox::after {
    border-radius: 12px;
  }

  #background-6 {
    display: none;
  }
}